@(lang: String, myForm: Form[UserLogin])
@import helper._
@import views._
@implicitField = @{
	helper.FieldConstructor(all.myFieldConstructorTemplate.f)
}
<!doctype html>
<html lang="@lang">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>iReadapt</title>

			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="@routes.Assets.versioned("css/LogIn.css")">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-dark bg-dark">
			<a class="navbar-brand" href="#">iReadapt</a>
				<!--form class="form-inline" action="@routes.HomeController.login()" method="post"-->
			@form(action = routes.HomeController.login(), 'class -> "form-inline", 'role -> "form", 'enctype -> "multipart/form-data") {
				@CSRF.formField
				@helper.inputText(myForm("userName"), 'placeholder -> "Username", 'class -> "form-control mr-sm-2")
				@helper.inputPassword(myForm("password"), 'placeholder -> "Password", 'class -> "form-control mr-sm-2")
				<button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
				</form-->
			}
		</nav>
		@if(flash.containsKey("failure")) {
			<div class="alert alert-failure">@flash.get("failure")</div>
		}

			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="@routes.Assets.versioned("js/jquery-3.3.1.slim.min.js")" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="@routes.Assets.versioned("js/popper.js/1.14.3/umd/popper.min.js")" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="@routes.Assets.versioned("js/bootstrap.min.js")" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>